.fui-testimonial-1 {
    margin-top: 30px;
    padding-top: 33px;
    position: relative;
    isolation: isolate;
  }
  .fui-testimonial-1 .testimonialWrap {
    margin-top: 30px;
    padding-block: 38px;
    position: relative;
  }
  .fui-testimonial-1 .testimonialBodyList {
    position: relative;
    width: 100%;
    margin-bottom: 200px;
    height: 200px;
    margin-top: -100px;
  }
  .fui-testimonial-1 .testimonialBodyItem {
    opacity: 0;
    transition: all 1s cubic-bezier(0.5, -0.01, 0, 1.005);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 520px;
    height: 100%;
    transform: translateX(-50%) translateY(100%) rotateX(-70deg);
  }
  .fui-testimonial-1 .testimonialBodyItem.active {
    transform: translateX(-50%) translateY(0%) rotateX(0deg);
    opacity: 1;
  }
  .fui-testimonial-1 .testimonialRate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 46px;
    font-size: 20px;
    font-weight: 500;
  }
  .fui-testimonial-1 .testimonialRateIconList {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .fui-testimonial-1 .testimonialContent {
    font-weight: 500;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
  .fui-testimonial-1 .testimonialBodyPersonal {
    margin-top: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .fui-testimonial-1 .testimonialBodyPersonalImg {
    width: 120px;
    height: 120px;
    border-radius: 100rem;
    border: 2px solid #1dc071;
  }
  .fui-testimonial-1 .testimonialBodyPersonalImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100rem;
  }
  .fui-testimonial-1 .testimonialBodyPersonalName {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .fui-testimonial-1 .testimoniaPersonalItem {
    border-radius: 100rem;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    transition: linear 0.25s;
    animation: floating linear infinite 0.25s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem.active .testimoniaPersonalImage {
    border-color: #1dc071;
  }
  .fui-testimonial-1 .testimoniaPersonalItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100rem;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(1) {
    width: 74.29px;
    height: 74.29px;
    left: 258px;
    top: 62px;
    animation-duration: 10s;
    transition-delay: 0.6s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(2) {
    width: 74.29px;
    height: 74.29px;
    left: 370px;
    top: -39px;
    animation-duration: 12s;
    transition-delay: 0s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(3) {
    width: 74.29px;
    height: 74.29px;
    left: 200px;
    top: 190px;
    animation-duration: 11s;
    transition-delay: 0.6s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(4) {
    width: 74.29px;
    height: 74.29px;
    left: 355px;
    top: 135px;
    animation-duration: 6s;
    transition-delay: 0.2s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(5) {
    width: 74.29px;
    height: 74.29px;
    right: 355px;
    top: -35px;
    animation-duration: 7s;
    transition-delay: 0.7s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(6) {
    width: 74.29px;
    height: 74.29px;
    right: 200px;
    top: -70px;
    animation-duration: 5s;
    transition-delay: 0.1s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(7) {
    width: 74.29px;
    height: 74.29px;
    right: 366px;
    top: 225px;
    animation-duration: 5s;
    transition-delay: 0.7s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(8) {
    width: 74.29px;
    height: 74.29px;
    right: 211px;
    top: 150px;
    animation-duration: 8s;
    transition-delay: 0.4s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(9) {
    width: 74.29px;
    height: 74.29px;
    right: 351px;
    top: 120px;
    animation-duration: 8s;
    transition-delay: 0.4s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(10) {
    width: 74.29px;
    height: 74.29px;
    right: 251px;
    top: 50px;
    animation-duration: 8s;
    transition-delay: 0.4s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(11) {
    width: 74.29px;
    height: 74.29px;
    left: 132px;
    top: -50px;
    animation-duration: 8s;
    transition-delay: 0.4s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(12) {
    width: 74.29px;
    height: 74.29px;
    left: 111px;
    top: 100px;
    animation-duration: 8s;
    transition-delay: 0.4s;
  }
  .fui-testimonial-1 .testimoniaPersonalItem:nth-child(13) {
    width: 74.29px;
    height: 74.29px;
    right: 91px;
    top: 40px;
    animation-duration: 8s;
    transition-delay: 0.4s;
  }
  .fui-testimonial-1 .testimoniaPersonalImage {
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    border: 4px solid #fff;
    transition: linear 0.3s;
  }
  .fui-testimonial-1 .testimoniaPersonalImage:hover {
    border-color: #1dc071;
  }
  @media (min-width: 1024px) and (max-width: 1239px) {
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(1) {
      left: 60px;
      width: 68px;
      height: 68px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(2) {
      width: 90px;
      height: 90px;
      left: 105px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(3) {
      width: 85px;
      height: 85px;
      left: 55px;
      top: 190px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(4) {
      width: 85px;
      height: 85px;
      left: 235px;
      top: 99px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(5) {
      right: 120px;
      width: 68px;
      height: 68px;
      top: 59px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(6) {
      width: 90px;
      height: 90px;
      right: 205px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(7) {
      width: 85px;
      height: 85px;
      right: 235px;
      top: 190px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(8) {
      width: 85px;
      height: 85px;
      right: 105px;
      top: 159px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(9) {
      width: 85px;
      height: 85px;
      left: 135px;
      top: 99px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(10) {
      right: 220px;
      width: 68px;
      height: 68px;
      top: 49px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(11) {
      width: 90px;
      height: 90px;
      left: 235px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(12) {
      width: 85px;
      height: 85px;
      left: 205px;
      top: 200px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(13) {
      width: 85px;
      height: 85px;
      right: 85px;
      top: -70px;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1239px) {
    .fui-testimonial-1 .logoParalax {
      display: none;
    }
  }
  @media only screen and (max-width: 1023px) {
    .fui-testimonial-1 {
      padding-top: 30px;
      margin-top: 60px;
    }
    .fui-testimonial-1 .testimonialBodyList {
      height: 100px;
      margin-top: -75px;
      margin-bottom: 275px;
    }
   
    .fui-testimonial-1 .testimonialBodyItem {
      width: 100%;
      padding-inline: 20px;
    }
    .fui-testimonial-1 .logoParalax {
      display: none;
    }
  }
  @media only screen and (max-width: 739px) {
    .fui-testimonial-1{
      margin-top: -10px;
    }
    .fui-testimonial-1 .testimonialBodyPersonal {
      margin-top: 0px;
    }
    .fui-testimonial-1 .testimonialRate {
      margin-bottom: 30px;
    }
    .fui-testimonial-1 .testimonialBodyList {
      margin-bottom: 235px;
    }
    .fui-testimonial-1 .testimonialContent {
      font-size: 14px;
    }
    .fui-testimonial-1 .testimonialWrap {
      margin-top: 0px;
      padding-bottom: 0;
    }
  }
  @keyframes floating {
    0% {
      transform: rotate(0deg) translate(-10px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(-10px) rotate(-360deg);
    }
  }
  @media (min-width: 576px) and (max-width: 1023px) {
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(1) {
      left: 30px;
      width: 68px;
      height: 68px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(2) {
      width: 68px;
      height: 68px;
      left: 30px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(3) {
      width: 68px;
      height: 68px;
      left: 30px;
      top: 170px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(4) {
      width: 68px;
      height: 68px;
      left: 120px;
      top: 170px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(5) {
      right: 30px;
      width: 68px;
      height: 68px;
      top: 30px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(6) {
      width: 68px;
      height: 68px;
      right: 120px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(7) {
      width: 68px;
      height: 68px;
      right: 120px;
      top: 150px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(8) {
      width: 68px;
      height: 68px;
      right: 30px;
      top: 159px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(9) {
      width: 68px;
      height: 68px;
      left: 120px;
      top: 59px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(10) {
      right: 120px;
      width: 68px;
      height: 68px;
      top: 49px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(11) {
      width: 68px;
      height: 68px;
      left: 120px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(12) {
      width: 68px;
      height: 68px;
      left: 30px;
      top: 250px;
    }
    .fui-testimonial-1 .testimoniaPersonalItem:nth-child(13) {
      width: 68px;
      height: 68px;
      right: 30px;
      top: -70px;
    }
   
  }
  @media  (max-width: 575px) {
   
    .fui-testimonial-1 .testimoniaPersonalItem {
      border-radius: 100rem;
      display: none;
      box-shadow: none;
      cursor: pointer;
      transition: none;
      animation: none;
    }
  }